@use "variaveis";

.section3__local {

    img {
        width: 350px;
        height: 220px;
        box-shadow: 10px 5px 5px #000;
        border-radius: 4%;
        margin-bottom: 8px;

        @media (max-width: 760px) {
            width: 200px;
            height: 120px;
        }
    }

    &__endereco {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 42px;

        @media (max-width: 760px) {
            margin-bottom: 0;
        }

        h1 {
            display: flex;
            justify-content: center;
        }

        p {
            color: variaveis.$textColor1;
            text-shadow: #000 2px 3px 2px;
            text-align: center;
        }
    }
}